---
layout: default
---
<!-- ******HEADER****** -->
<header id="header" class="header">
  <div class="container">
    <h1 class="logo pull-left">
      <a href="/">
        <img src="images/logo-no-background-logo-SD.png" alt="logo"/>
        <span class="logo-title"></span>
      </a>
    </h1><!--//logo-->
    <nav id="main-nav" class="main-nav navbar-right" role="navigation">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button><!--//nav-toggle-->
      </div><!--//navbar-header-->
      <div class="navbar-collapse collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active nav-item sr-only"><a class="scrollto" href="#promo">Home</a></li>
          <li class="nav-item"><a class="scrollto" href="#about">About</a></li>
          <li class="nav-item"><a class="scrollto" href="#Issue">Current Issue</a></li>
          <li class="nav-item"><a class="scrollto" href="#Archive">Archive</a></li>
          <li class="nav-item"><a class="scrollto" href="#Author">For Authors</a></li>
          <li class="nav-item"><a class="scrollto" href="#Editorial">Editorial Board</a></li>
          <li class="nav-item last"><a class="scrollto" href="#contact">Contact</a></li>
          
        </ul><!--//nav-->
      </div><!--//navabr-collapse-->
    </nav><!--//main-nav-->
  </div>
</header><!--//header-->

<!-- ******PROMO****** -->
<section id="promo" class="promo section offset-header">
  <div class="container text-center">
    <h1 class="logo">
      <a href="/">
        <img src="images/short-logo-no-background-center.png" alt="logo"/>
        <span class="logo-title"></span>
      </a>
    </h1><!--//logo-->

    
    <p class="intro">A student-led journal <br>
    from the Baylor College of Medicine</p>
    <div class="btns">
      <!--a class="btn btn-cta-secondary" href="#" target="_blank">Demo</a-->
      <a class="btn btn-outline btn-outline-medium scrollto" href="#about" target="_blank">Learn More <i class="fa fa-angle-double-down"></i></a>
    </div>
    <ul class="meta list-inline">
      <li></li>
    </ul><!--//meta-->
  </div><!--//container-->
  <div class="social-media">
    <div class="info text-center">
      <ul class="social-icons list-inline">
        <li><a href="https://twitter.com/baylormsr" target="_blank"> <i class="fa fa-twitter"> </i></a></li>
        <li><a href="https://instagram.com/baylor_msr" target="_blank"><i class="fa fa-instagram"></i></a></li>
        {% if site.twitter_username %}
        <li><a href="https://twitter.com/BaylorMSR" target="_blank"><i class="fa fa-twitter"></i></a></li>
        {% endif %}
        {% if site.facebook_username %}
        <li><a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
        {% endif %}
        {% if site.instagram_username %}
        <li><a href="http://instagram.com/{{ site.instagram_username }}"><i class="fa fa-instagram"></i></a></li>
        {% endif %}
        {% if site.org_general_email_inbox %}
        <li class="last"><a href="mailto:baylormsr@gmail.com"><i class="fa fa-envelope"></i></a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</section><!--//promo-->

<!-- ******ABOUT****** -->
<section id="about" class="about section">
  <div class="container">
    <h2 class="title text-center">About the Journal</h2>
    <p class="intro text-center">Founded by medical students at the Baylor College of Medicine, the <i>Baylor Medical Student Review</i> (<i>BMSR</i>) is a student-led medical journal created to promote scholarship and education 
      throughout all of medicine. The <i>BMSR</i> serves as a medium for trainees at all levels to share their scholarly work and address critical matters in
      the medical field through various academic and creative means. In order to foster diverse viewpoints and commentaries, the Journal invites submissions from any healthcare student at the
      Baylor College of Medicine, as well as medical students, undergraduate students, and trainees at all levels from other schools. The <i>BMSR</i> follows a double-blind peer review process and encourages 
      contributions in original research, reviews, editorials, and letters, in addition to narrative medicine pieces, artwork, and more.</p>
  </div><!--//container-->
</section><!--//about-->

<!-- ******CURRENT ISSUE****** -->
<section id="Issue" class="join section">
  <div class="container">
    <h2 class="title text-center">Current Issue</h2>
    <p class="intro text-center">Coming soon.</p>
  </div><!--//container-->
</section><!--//about-->

<!-- ******ARCHIVE****** -->
<section id="Archive" class="about section">
  <div class="container">
    <h2 class="title text-center">Archive</h2>
    <p class="intro text-center">Coming soon.</p>
  </div><!--//container-->
</section><!--//about-->

<!-- ******FOR AUTHORS****** -->
<section id="Author" class="join section">
  <div class="container">
    <h2 class="title text-center">For Authors</h2>
    <p class="intro text-center"><a class="btn" href="https://www.baylormsr.com/files/BMSR%20Author%20Information.pdf" title="Author Information" target="_blank">Author Information</a>
      <br><a class="btn" href="https://www.baylormsr.com/files/BMSR%20Author%20Information.pdf" title="Submission Portal" target="_blank">Submission Portal</a></p>
  </div><!--//container-->
</section><!--//about-->

<!-- ******EDITORIAL BOARD****** -->
<section id="Editorial" class="about section">
  <div class="container">
    <h2 class="title text-center">Editorial Board</h2>

    <div class="container my-3 my-sm-5">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3 text-center">
          <img src="images/AustinH_Headshot.jpg" class="image-container" alt="AustinH">
        
          <h5>Austin Huang</h5>
          <p>Editor-in-Chief</p>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3 text-center">
          <img src="images/HarrisonZ_Headshot.jpg" class="image-container" alt="HarrisonZ">
         
          <h5>Harrison Zhu</h5>
          <p>Deputy Editor</p>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3 text-center">
          <img src="images/JayJ_Headshot.png" class="image-container" alt="JayJ">
         
          <h5>Jay Jaber</h5>
          <p>Deputy Editor</p>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3 text-center">
          <img src="images/RituS_Headshot.jpg" class="image-container" alt="RituS">
        
          <h5>Ritu Sampige</h5>
          <p>Deputy Editor</p>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3 text-center">
          <img src="http://placehold.it/200x200" class="image-container" alt="Figure image">
         
          <h5>Firstname Lastname</h5>
          <p>Social Media Editor</p>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3 text-center">
          <img src="http://placehold.it/200x200" class="image-container" alt="Figure image">
          
          <h5>Firstname Lastname</h5>
          <p>Associate Editor</p>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3 text-center">
          <img src="http://placehold.it/200x200" class="image-container" alt="Figure image">
     
          <h5>Firstname Lastname</h5>
          <p>Associate Editor</p>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3 text-center">
          <img src="http://placehold.it/200x200" class="image-container" alt="Figure image">
      
          <h5>Firstname Lastname</h5>
          <p>Associate Editor</p>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3 text-center">
          <img src="http://placehold.it/200x200" class="image-container" alt="Figure image">
       
          <h5>Firstname Lastname</h5>
          <p>Associate Editor</p>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3 text-center">
          <img src="http://placehold.it/200x200" class="image-container" alt="Figure image">
       
          <h5>Firstname Lastname</h5>
          <p>Faculty Advisor</p>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3 text-center">
          <img src="http://placehold.it/200x200" class="image-container" alt="Figure image">
          
          <h5>Firstname Lastname</h5>
          <p>Faculty Advisor</p>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3 text-center">
          <img src="http://placehold.it/200x200" class="image-container" alt="Figure image">
       
          <h5>Firstname Lastname</h5>
          <p>Faculty Advisor</p>      
      </div>
        
    </div>
    
  </div><!--//container-->
</section><!--//about-->

<!-- ******CONTACT****** -->
<section id="contact" class="contact section has-pattern">
  <div class="container">
    <div class="contact-inner">
      <h2 class="title  text-center">Contact</h2>
      <address class="text-center">
        <strong>{{ site.org_name }}</strong><br>
        {% if site.org_street_address %}{{ site.org_street_address }},&nbsp;{% endif %}{% if site.org_address_suite %}{{ site.org_address_suite }}<br>{% endif %}
        {% if site.org_city %}{{ site.org_city }},&nbsp;{% endif %}{% if site.org_state %}{{ site.org_state }}&nbsp;{% endif %}{% if site.org_zip %}{{ site.org_zip }}{% endif %}<br>
        {% if site.org_phone %}
        <abbr title="Phone"></abbr> {{ site.org_phone }}
        {% endif %}
      </address>
      <div class="clearfix"></div>
      <div class="info text-center">
        <h4 class="sub-title">Get Connected</h4>
        <ul class="social-icons list-inline">
          <a href="https://twitter.com/baylormsr" target="_blank"> <i class="fa fa-twitter"> </i></a>
          <a href="https://instagram.com/baylor_msr" target="_blank"><i class="fa fa-instagram"></i></a>
        {% if site.twitter_username %}
        <li><a href="https://twitter.com/BaylorMSR" target="_blank"><i class="fa fa-twitter"></i></a></li>
        {% endif %}
        {% if site.facebook_username %}
        <li><a href="https://www.facebook.com/{{ site.org_facebook_username }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
        {% endif %}
        {% if site.instagram_username %}
        <li><a href="http://instagram.com/{{ site.org_instagram_username }}"><i class="fa fa-instagram"></i></a></li>
        {% endif %}
        {% if site.org_general_email_inbox %}
        <li class="last"><a href="mailto:baylormsr@gmail.com"><i class="fa fa-envelope"></i></a></li>
        {% endif %}
      </ul>
      </div><!--//info-->
    </div><!--//contact-inner-->
  </div><!--//container-->
</section><!--//contact-->
